.dashboardWrapper{
    background-color: #eef1f6;
}

.newAccountPanel{
    background-color: #f8fafc;
    border: 2px dashed #f8fafc;
    border-radius: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}